sudo: required
dist: trusty
language: generic
cache:
  directories:
  - $HOME/.rvm
  - $HOME/.nvm
  - $TRAVIS_BUILD_DIR/vendor
  - $TRAVIS_BUILD_DIR/node_modules
addons:
  hosts:
    - example.com
    - local.example.com
    - production.example.com
    - www.example.com
  apt:
    packages:
      - xvfb
      - libgconf2-dev
env:
  global:
    # DEBUG: "nightmare:*,electron:*"
    - DISPLAY: ":99.0"
  matrix:
    - ANSIBLE_VERSION: "2.1.3"
    - ANSIBLE_VERSION: "2.2.0"
before_install:
  # ruby setup (for capistrano)
  - rvm install 1.9.3
  - rvm use 1.9.3
  - gem install bundler
  - ruby --version
  - rvm --version
  - gem --version
  - bundle --version
  # node setup (for yeoman)
  - nvm install 4.0
  - node --version
  - npm --version
  - nvm --version
  - npm install -g yo@1.7.1
  - yo --version
  - npm install
  # python setup (for ansible)
  - sudo pip install urllib3 pyopenssl ndg-httpsclient pyasn1
  - sudo pip install ansible==$ANSIBLE_VERSION
  - python --version
  - pip --version
  - ansible --version
  # mock up test project, and move to /vagrant for end-user tests
  - $PWD/bin/mock
  - sudo mv $PWD/temp /vagrant
  - ln -s /vagrant $PWD/temp
  # copy our local evolution-wordpress as npm dependency
  - mkdir -p /vagrant/node_modules
  - cp -RP $PWD /vagrant/node_modules/evolution-wordpress
  # set up local provisioner
  - sudo cp $PWD/.travis.provision.bin $PWD/bin/provision
  - sudo chmod +x $PWD/bin/provision
  # mock vagrant binary (for parity with local/remote stages)
  - sudo cp $PWD/.travis.vagrant.bin /bin/vagrant
  - sudo chmod +x /bin/vagrant
  # ensure known ssh fingerprints for remote stages
  - ssh-keyscan -H production.example.com >> $HOME/.ssh/known_hosts
  - ssh-keyscan -H www.example.com >> $HOME/.ssh/known_hosts
  - ssh-keyscan -H example.com >> $HOME/.ssh/known_hosts
  # run xvfb as background service
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1024x768x24"
install:
  - echo "Provision locally and fix permissions afterward"
  - sudo $PWD/bin/provision
  - sudo chown -Rf $USER:$USER $HOME/.ansible
  - echo "Install Composer dependencies"
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install -n --dev -vv
script:
  - ./vendor/bin/phpunit
  - ./bin/test
